$colorFondo: rgba(224, 155, 165, 0.849) ;
$colorBorde: rgba(211, 68, 90, 0.849) ;
@import "_titulos";
@import "_subtituloh3";
*{  
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}    

body{
   background-image:   linear-gradient(45deg, #46c4c4 0%, #b87998 100%);
}
.navbar{
    background-color:$colorBorde;
}
#navbar a{
    color:white;
    text-transform: uppercase;
}    
#navbar a:hover{
    color:black;
}

h2{
    background-color: $colorFondo;
    padding: 8px;
    margin:20px auto;
    border:3px solid  $colorBorde;
    width:40%;
    text-align: center;
    font-style: italic;
    transition:all 1s;
}    
h2:hover{
    transform:scale(1.5, 1);
    transition: all 1s;
    color:white;
    background-color: rgba(187, 112, 112, 0.589);
}
.contenedor0{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
nav ul li a:hover{
    color:rgba(100, 10, 23, 0.849) ;
    background-color:$colorBorde ;
    
}
 header nav ul li{
    display:inline-block;
    background-color:$colorFondo ;
    height: 20px;
    width: 100px;
    margin: 5px;
    padding: 10px 20px;
    font-style: italic;
    font-size: 20px;
    border: 2px solid  $colorBorde;
    text-align: center;
}

    



main section ul li{
    display:inline-block;
    background-color:$colorFondo ;
    margin-bottom: 20px;
    padding: 10px;
    height: 30px;
    width: 30;
    border:3px solid $colorBorde;
    font-style:italic;
    font-size:  20px;
    font-weight: bold;

}
.jumbotron{
    
    height: 200px;
    width: 100%;
    background-image: linear-gradient(45deg, #46c4c4 0%, #b87998 100%); 

        h1{
        font-size: 30px;
        font-weight: 600;
        text-decoration:underline;
        } 
        p{
    font-weight: 600px;
    color:black;
    font-size:25px ;
    border: 3px solid  rgba(211, 68, 90, 0.849);
    display:flex;
    justify-content:center;
    background-color: rgba(224, 155, 165, 0.849) ;
    width: 100%;
        }   
}

.contenedor{
    display:flex;
    justify-content: center;
}
.tratamiento{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap: wrap;
}    
.centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap:wrap;
}
.galeria{
    min-height: 400px;
    width: 90%;
    background-color:gray;
    margin:15px auto;
    display:grid;
    
} 